.cal-container{
  position: absolute;
  width: 620px;
  height: 720px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f1f1f1;


}

.event{
  position: relative;
  border: solid;
  width: 30%;
  float:left;

}

//need to figure out a way to set widths dynamically
