.time{
  height:30px;
  width:100%;
  span{
    display:inline-block;
  }

  .primary{
    font-weight: bold;
    font-size: 17px;
    color:#666666;
    float:left;
    margin-left: 11px;

  }

  .secondary{
    font-size: 10px;
    color:#C6C6C6;
    float:right;
    margin-right: 12px;
    padding-top: 7px;

  }
}



.numbers{
  float:left;
  height:720px;
  width:90px;
  margin-left: -90px;
  margin-top: -14px;
}

.cal-container{
  position: absolute;
  width: 620px;
  height: 720px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ECECEC;
  display: table;
  table-layout: fixed;


}

.cal-container div{
  display: table-cell;
  height: 50px;
}

.event{
  position: relative;
  border: solid;
  float:left;
}

.title{
  margin: 0 px;
  padding: 0 px;
}
