
.container{
  margin-top:75px;
}

.numbers{
  float:left;
  width:90px;
  margin-left: -90px;
  margin-top: -14px;
}

.time{
  height:30px;
  width:100%;
  span{
    display:inline-block;
  }

  .primary{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color:#666666;
    float:left;
    margin-left: 24px;
    margin-top:3px;

  }

  .secondary{
    font-size: 10px;
    color:#C6C6C6;
    float:right;
    margin-right: 12px;
    padding-top: 7px;

  }
}


.cal-container{
  position: absolute;
  width: 620px;
  height: 720px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ECECEC;
  display: table;
  table-layout: fixed;
}

.cal-container div{
  display: table-cell;
  height: 50px;
}

.event{
  float:left;
  background-color:#FFFFFF;
  padding: 8px;
  position: relative;
  border-left: 5px solid #1759A2;
  border-top:1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  width: 150px;

}

.title{
  font-weight: 500;
  color:#4B6EA8;
}

.location{
  font-weight: 300;
  color:#797979;
  margin-top:-10px;
  font-size: 11px;
  opacity: .8;
}
